* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    /*max-width: 100%;*/
}

body {
    display: flex;
    flex-direction: column;
}

/* .mobile {
    display: none;
} */

header {
    display: flex;
    justify-content: space-between;
    padding: 65px 165px 65px 165px;
}

.menu-navegacion {
    overflow: hidden;
    /* Limpiamos errores de float*/
}

li {
    list-style-type: none;
    float: left;
    text-align: center;
    width: 5rem;
}

.hamburguesa {
    width: 60px;
    height: 45px;

}

.portada {
    padding: 65px 165px 65px 165px;
    display: flex;
    text-align: right;
}

h1 {
    width: 450px;
    height: 228px;
    font-size: 50px;
    margin: 20px;
    color: #232C50
}

.portada, p {
    font-size: 20px;
    width: 450px;
    margin: 50px;
    font-weight: bold;
}

button {
    background-color: #8B48BF;
    color: #FFFFFF;
    padding: 20px 50px 20px 50px;
    border-radius: 30px;
    transition: all 1s ease;
    /* DUDA */
}

button:hover {
    background-color: #9a82ac;
    box-shadow: 0 4px 16px #4f4358;
    transition: all 0.3s ease;
}

.texto-info {
    /* weight: auto; */
    height: 168px;
    background-color: #8B48BF;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.texto-info,
h2 {
    font-size: 36px;
}

.texto-info, p {
    font-size: 16px;
}

.menu-info {
    background-color: #fafafa;
    padding: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.box-info{
    width: 45%;
    padding: 2%;
}
.titulo {
    color: #323851;
    font-weight: bold;
    height: 23px;
    padding: 10px 25px 10px 25px;
}
.numero {
    background-color: #8B48BF;
    color: #FFFFFF;
    padding: 10px 25px 10px 25px;
    border-radius: 20px;
}
.box-info p{
    color: #B3B2B7;
}
.menu-cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 2% 1%;
}
.container-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.personaje {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button-more{
    margin: 0px auto;
}

h3 {
    font-size: 40px;
    color: #242e53;
    text-align: center;
}

.contenedor h4 {
    font-size: 16px;
}

.contenedor p {
    font-size: 16px;
    width: 403px;
    height: 100px;
}

.boton-info {
    background-color: #FFFFFF;
    color: #8B48BF;
}

.boton-info:hover {
    background-color: #9a82ac;
    color: #FFFFFF;
    box-shadow: 0 4px 16px #4f4358;
    transition: all 0.3s ease;
}

/*--------------------------------------- footer -------------------------------------------- */

footer {
    background-color: #1e1e26;
    color: #FFFFFF;
}

.menu-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.box-footer{
    width: 22%;
    padding: 1%;
}
.box-footer.box1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.logos {
    display: flex;
    flex-direction: column;
}

.logoFooter {
    fill: #FFFFFF;
}

.derechos {
    align-self: center;
}


/* @media (max-width: 1440px) {
    

    .menu-navegacion {
        display: none;
    }
    .boton-contacto {
        display: none;
    }
}

@media (min-width: 1440px) {
    .hamburguesa {
        display: none;
    }
} */